<div class="topnav" id="myTopnav">
    <a><i class="fa fa-compass" style="font-size: 30px; color: red;"></i></a>
    <a href="/listings" class="active">Home</a>
    <a href="/listings">All Listings</a>
    <a href="/listings/new" >Add Listing</a>
    <a><form class="d-flex input-group w-auto">
      <input
        type="search"
        class="form-control rounded"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="search-addon"
      /> &nbsp;
      <span class="input-group-text border-0" id="search-addon" style="border-radius: 10%;">
        <i class="fa fa-search" style="color: red;"></i>
      </span>
    </form>
    </a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()" >
      <i class="fa fa-bars"></i>
    </a>
  </div>