<% layout("includes/boilerplate") %>
    <body>
        <div class="d-flex align-items-center justify-content-center" style="height: 70vh">
            <div class="text-center">
                <h1 class="display-1 fw-bold"><%= code %></h1> 
                <p class="fs-3"> <span class="text-danger">Opps!</span>&nbsp;<%= msg %></p>
                <p class="lead">
                    <%= description %>
                  </p>
                <a href="javascript:history.back()" class="btn btn-primary">Go Back</a>
            </div>
        </div>
    </body>