<div class="topnav" id="myTopnav">
    <a href="" class="active">Home</a>
    <a href="">All Listings</a>
    <a href="">Add Listing</a>
    <a><form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()" >
      <i class="fa fa-bars"></i>
    </a>
  </div>