<% layout("includes/boilerplate") %>
<body>
  <div class="container offset-3"><br>
    <h2>SignUp To WanderLust</h2><br>
    <form method="post" action="/signup" class="needs-validation" novalidate>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="validationCustom01" name="email" placeholder="Enter Email" required>
          <div class="invalid-feedback">
            Email is required
          </div>
        </div><br>
        <div class="col-md-4 mb-3">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="validationCustom02" name="username" placeholder="Enter Username" required>
          <div class="invalid-feedback">
            Username is required
          </div>
        </div><br>
        <div class="col-md-4 mb-3">
          <label for="password">password</label>
          <input type="password" class="form-control" id="validationCustom02" name="password" placeholder="Enter Valid Image Link" required>
          <div class="invalid-feedback">
            Password is required
          </div>
        </div>
      </div><br>
      <button class="btn " type="submit" style="background-color: red; color: white;">Submit form</button><br>
    </form><br>
  </div>
</body>